<%- include("partials/header") %>

<h1>Página inicial</h1>

<% posts.forEach( (post) => {  %>
        <h1> <%= post.postTitle %> </h1>
        <p> <%= post.postText.slice(0,100) %>...
            <a href="/posts/<%= post.postTitle.toLowerCase().replace(/\s/g,'-')%>">Ler mais.</a>
        </p>
    <% });%>

<%- include("partials/footer") %>






